*{
  box-sizing: border-box;
  font-size: large;
}

.title{
  text-decoration: underline;
}

.contact-me-heading{
  display: inline;
  border: none;
}
.contact-me-info{
  display: inline;
}
.App{
  background-color: #cccccc;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

nav *{
  border: none;
}

.right{
  position: absolute;
  right: 25px;
}

.center{
  text-align: center;
}

.time {
  font-size: 18px;
  background-color: #444444;
  border-radius: 5px;
  border: 2px solid white; 
  color: white;
  transition: 0.3s ease-in-out; 
  display: inline-block;
  line-height: 1;
  height: auto;
  padding: 15px 5px 0px 5px;
}

.time:hover {
  box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7);
}

.intro{
  transition: 0.3s ease-in-out; 
  width: 60%;
  margin: auto;
}

.intro:hover{
  box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}